* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* list-style-type: none; */
  /* text-decoration: none; */
  /* color: var(--text-main-color); */
  /* border: 0.5px solid white; */
}

:root {
  --bg-main-color: #0a0a0b;
  --text-main-color: #ffffff;
  --btn-bg-color: #306ad9;
  --btn-bg-color-hover: #4177dc;
  --btn-bg-color-active: #608ce2;
  --icon-color: #babec4;
}

body {
  font-family: "Exo regular";
  color: var(--text-main-color);
  background-color: var(--bg-main-color);
  overflow-x: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ------------------------------ header started -------------------------------------- */

header {
  width: 100%;
  height: auto;
  background-color: transparent;
}

.nav {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.nav__list--item {
  list-style-type: none;
}
.nav__list--item-link {
  text-decoration: none;
  color: var(--text-main-color);
  transition: 0.5s;
}

.active {
  color: var(--btn-bg-color-hover);
  text-shadow: 0px 0px 32px #346dda;
}
.nav__list--item-link:hover {
  color: var(--btn-bg-color-hover);
  text-shadow: 0px 0px 32px #346dda;
}

/* ------------------------------ header finished -------------------------------------- */

/* ------------------------------ intro started -------------------------------------- */

.intro {
  width: 100%;
  height: auto;
  position: relative;
}
.intro::before {
  content: "";
  display: block;
  position: absolute;
  width: 500px;
  height: 500px;
  left: -138px;
  top: -28px;

  background: rgba(55, 74, 109, 0.5);
  filter: blur(90px);
}

.intro::after {
  content: "";
  display: block;
  position: absolute;
  width: 400px;
  height: 400px;
  right: -20px;
  top: 404px;
  background: rgba(55, 74, 109, 0.5);
  filter: blur(90px);
}

.wrapper {
  text-align: center;
}

.intro__title {
  font-family: "Exo semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  margin-top: 72px;
}

.intro__subtitle {
  font-family: "Exo semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-top: 20px;
}

.wrapper span {
  font-family: "Exo regular";
  font-weight: 400;
  color: var(--icon-color);
  margin-top: 8px;
  font-size: 16px;
  display: block;
}

.intro__car {
  margin-top: 48px;
}

.intro__info {
  width: 406px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px auto;
  height: 104px;
  margin-bottom: 56px;
}

.intro__start {
  width: 90px;
  height: 90px;
  font-size: 14px;
  margin: 91px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #02db8a;
  filter: drop-shadow(0px 0px 16px #02db8a);
  cursor: pointer;
  transition: 0.5s;
}

.intro__start h2 {
  border: 2px solid #02db8a;
  width: 70px;
  height: 70px;
  font-size: 14px;
  border-radius: 50%;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.intro__start:hover h2 {
  /* filter: drop-shadow(0px 0px 16px #02db8a); */
  background-color: #02db8a;
}

/* intro section finished */

/* about started */

.about {
  padding: 72px 0 68px;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__right {
  max-width: 401px;
  width: 100%;
}

.about__right--title {
  max-width: 209px;
  width: 100%;
  margin-bottom: 24px;
  font-size: 24px;
}

.about__right--desc {
  font-size: 16px;
  line-height: 140%;
  color: #babec4;
  margin-bottom: 40px;
}

.about__left {
  position: relative;
}

.about__left--image {
  border-radius: 8px;
}

.about__left--info {
  max-width: 197px;
  width: 100%;
  padding: 16px 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 15px;
  position: absolute;
  bottom: -50px;
  right: 0;
}

.about__right--btn {
  border: none;
  font-weight: 700;
  width: 149px;
  height: 50px;
  color: var(--text-main-color);
  border: 2px solid #4177dc;
  color: var(--btn-bg-color-hover);
  border-radius: 4px;
  cursor: pointer;
  background-color: black;
  transition: 0.5s;
}

.about__right--btn:hover {
  background-color: var(--btn-bg-color-hover);
  color: var(--text-main-color);
  filter: drop-shadow(0px 0px 16px #4177dc);
}

/* about finished */

/* popular started */

.popular {
  padding: 72px 48px;
}

.popular__title {
  margin: 0 auto 64px;
  max-width: 278px;
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #f1f2f3;
}

.popular__cards {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular__card {
  background: #111213;
  border-radius: 20px;
  padding: 32px 22px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}

.popular__card__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #f1f2f3;
  width: 100%;
}

.popular__card__text {
  font-size: 16px;
  line-height: 140%;
  color: #babec4;
  width: 100%;
  margin-bottom: 12px;
}

.popular__card__image {
  margin-bottom: 22px;
}

.popular__card__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

.popular__card__info__desc {
  display: flex;
  align-items: center;
  margin-right: 5px;
  max-width: 90px;
  width: 100%;
  margin-bottom: 8px;
}

.popular__card__price {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}

.popular__shopping__wrapper {
  width: 56px;
  height: 48px;
  background: #4177dc;
  border-radius: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: 0.5s;
  bottom: 0;
  right: 0;
}
.popular__shopping__wrapper:hover {
  background-color: var(--btn-bg-color-active);
  cursor: pointer;
}
.popular__card::before {
  content: "";
  color: #374a6d;
  position: absolute;
  width: 190px;
  height: 190px;
  left: -80px;
  top: -48px;
  background: rgba(55, 74, 109, 0.5);
  filter: blur(60px);
}
.popular__card:hover {
  transform: scale(1.1);
}
